﻿<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        {{vm.selectedFilter}}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li ng-click="vm.filter('All')">All</li>
        <li ng-click="vm.filter('Delivered')">Delivered</li>
        <li ng-click="vm.filter('Out-For-Delivery')">Out-For-Delivery</li>
        <li ng-click="vm.filter('Held-In-Truck')">Held-In-Truck</li>
    </ul>
</div>

<table class="table table-striped table-hover">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Number of Packages</th>
    </tr>
    <tr ng-repeat="shipment in vm.shipments" ng-click="vm.selectShipment(shipment)">
        <td>{{ shipment.destination.name }}</td>
        <td>{{ shipment.destination.address }}</td>
        <td><span class="badge">5{{ shipment.numberOfPackages }}</span></td>
    </tr>
</table>

<div class="well" paging
     page="1"
     page-size="25"
     total="vm.total"
     paging-action="vm.changePage(page)">
</div>