﻿<table class="table">
    <tr>
        <td>Origin</td>
        <td>{{vm.shipment.origin.name}} {{vm.shipment.origin.address}}</td>
    </tr>
    <tr>
        <td>Destination</td>
        <td>{{vm.shipment.destination.name}} {{vm.shipment.destination.address}}</td>
    </tr>
    <tr>
        <td>Number of packages</td>
        <td>{{vm.shipment.numberOfPackages}}</td>
    </tr>
    <tr>
        <td>Tracking number</td>
        <td>{{vm.shipment.trackingNumber}}</td>
    </tr>
    <tr>
        <td>Status</td>
        <td>{{vm.shipment.statusString}}</td>
    </tr>
    <tr>
        <td>Customer Status</td>
        <td>
            <label class="radio-inline">
                <input type="radio" ng-model="vm.shipment.customerStatus" value=1 unchecked name="customerStatus" ng-disabled="vm.shipment.statusString != 'Out-For-Delivery'" >Customer Was Home
            </label>
            <label class="radio-inline">
                <input type="radio" ng-model="vm.shipment.customerStatus" value=2 unchecked name="customerStatus" ng-disabled="vm.shipment.statusString != 'Out-For-Delivery'">Customer Was Not Home
            </label>
        </td>
    </tr>
    <tr>
        <td>Package Status</td>
        <td>
            <label class="radio-inline"><input type="radio" ng-model="vm.shipment.packageStatus" value=1 unchecked name="packageStatus" ng-disabled="vm.shipment.statusString != 'Out-For-Delivery'">Package Was Undamaged</label>
            <label class="radio-inline"><input type="radio" ng-model="vm.shipment.packageStatus" value=2 unchecked name="packageStatus" ng-disabled="vm.shipment.statusString != 'Out-For-Delivery'">Package Was Damaged</label>
        </td>
    </tr>
    <tr>
        <td>Notes</td>
        <td>
            <textarea ng-model="vm.shipment.notes"></textarea>
            <div ng-hide="vm.error != 'notesRequired'" class="bg-danger">Notes are required for a held delivery.</div>
        </td>
    </tr>
    <tr ng-hide="vm.shipment.statusString != 'Out-For-Delivery'">
        <td>
            <div>
                <button type="button" class="btn btn-default navbar-btn" ng-click="vm.deliver()">Deliver</button>
                <button type="button" class="btn btn-default navbar-btn" ng-click="vm.hold()">Hold</button>
            </div>
        </td>
        <td>
            <div ng-hide="vm.error != 'required'" class="bg-danger">Customer and package status must be selected before submitting.</div>
        </td>
    </tr>
    <tr ng-hide="vm.shipment.statusString == 'Out-For-Delivery'">
        <td>
            <button type="button" class="btn btn-default navbar-btn" ng-click="vm.undo()">Undo</button>
        </td>
    </tr>
</table>