﻿<div ng-controller="mobileController as vm">
    <div ng-hide="!vm.isVisible">
        <button type="button" class="btn btn-default btn-sm" ng-click="vm.back()">
            <span class="glyphicon glyphicon-chevron-left"></span>Back
        </button>
    </div>
</div>

<div ng-controller="shipmentListController as vm" ng-hide="!vm.isVisible">
    <div ng-include="'views/shipmentList.html'"></div>
</div>

<div ng-controller="shipmentDetailsController as vm" ng-hide="!vm.isVisible">
    <div ng-include="'views/shipmentDetails.html'"></div>
</div>