﻿<div class="row">
    <div class="col-sm-4" style="height: 100%; overflow: scroll;">
        <div ng-controller="shipmentListController as vm">
            <div ng-include="'views/shipmentList.html'"></div>
        </div>
    </div>
    <div class="col-sm-8">
        <div ng-controller="shipmentDetailsController as vm">
            <div ng-include="'views/shipmentDetails.html'"></div>
        </div>
    </div>
</div>