﻿<script type='text/javascript' src='~/lib/jquery/dist/jquery.min.js'></script>
<script src="~/lib/angular/angular.min.js"></script>
<script type='text/javascript' src='~/lib/angular-paging/dist/paging.min.js'></script>
<script type='text/javascript' src='~/lib/bootstrap/dist/js/bootstrap.min.js'></script>
<script src="~/lib/angular-route/angular-route.min.js"></script>
<script src="~/lib/ismobilejs/isMobile.min.js"></script>

<script src="~/js/app-shipments.js"></script>
<script src="~/js/shipmentListController.js"></script>
<script src="~/js/shipmentDetailsController.js"></script>
<script src="~/js/mobileController.js"></script>

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
</head>
<body>
    <div class="container-fluid">
        <div ng-app="app-shipments">
            <div ng-view></div>
        </div>
    </div>
</body>
</html>

